HOSTNAME=partdb-smart-storage
PARTDB_PUBLIC_URL=http://partdb.local:8080
PARTDB_INTERNAL_URL=http://partdb:80
PARTDB_API_TOKEN=
WLED_BASE_URL=http://192.168.178.220
BARCODE_ENABLED=true
BARCODE_CAMERA_ENABLED=true
SCAN_TIMEOUT_SECONDS=30
APP_PORT=8090
PARTDB_PORT=8080
TZ=Europe/Berlin
